@media only screen and (max-width: 1080px)
{

html,body
{
overflow-x: hidden;
}

body
{
background-color: #161618;
}

#mainh
{
position: fixed;
top: 0;
left: 0;
width: 100%;
min-height: 8%;
font-size: 18px;
z-index: 10;
background-color: #000000;
box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
font-weight: bold;
color: white;
}

#ti
{
width: 10%;
position: absolute;
top: 1%;
float: right;
left: 85%;
background-color: #505050;
color: white;
padding: 2px 2px;
margin: 2px 0;
border: none;
display:none;
}

input[type=button]
{
width: 100%;
background-color: #505050;
color: white;
padding: 13px 13px;
margin: 4px 0;
border: none;
border-radius: 0px;
}

input[type=text]
{
width: 100%;
padding: 8px 8px;
margin: 8px 0;
display: inline-block;
border: 2px solid #505050;
border-radius: 4px;
box-sizing: border-box;
background-color: #505050;
color: white;
}

select
{
width: 100%;
margin: 8px 0;
padding: 10px 10px;
border: 2px solid transparent;
border-radius: 4px;
box-sizing: border-box;
height: 50%;
background-color: #505050;
color: white;
}

input[type=text]:focus
{
border: 2px solid white;
}

input[type=text]:active
{
border: 2px solid white;
}

input[type=text]:hover
{
border: 2px solid white;
}

select:focus
{
border: 2px solid white;
}

select:active
{
border: 2px solid white;
}

select:hover
{
border: 2px solid white;
}

input[type=button]:focus
{
}

input[type=button]:active
{
}

input[type=button]:hover
{
}

.hqdiv
{
background-color: #303030;
position: absolute;
top: 14%;
left: 5%;
width: 90%;
min-height: 80%;
color: white;
}

.forminline
{
flex-direction: column;
align-items: stretch;
}

.normaldiv
{
background-color: #303030;
position: absolute;
top: 100%;
left: 5%;
width: 90%;
min-height: 80%;
color: white;
}

#hqh
{
position: absolute;
top: 3%;
left: 0%;
width: 100%;
text-align: center;
font-size: 17px;
font-weight: bold;
}

#conhqdiv
{
position: absolute;
top: 15%;
left: 10%;
width: 35%;
font-size: 14px;
}

#exthqdiv
{
position: absolute;
top: 15%;
left: 55%;
width: 35%;
font-size: 14px;
}

#damagehqdiv
{
position: absolute;
top: 28%;
left: 10%;
width: 35%;
font-size: 14px;
}

#ashqdiv
{
position: absolute;
top: 28%;
left: 55%;
width: 35%;
font-size: 14px;
}

#hphqdiv
{
position: absolute;
top: 42%;
left: 10%;
width: 35%;
font-size: 14px;
}

#defhqdiv
{
position: absolute;
top: 42%;
left: 55%;
width: 35%;
font-size: 14px;
}

#hqcheck
{
position: absolute;
top: 56%;
left: 25%;
width: 50%;
}

#hqrdiv
{
position: absolute;
top: 72%;
left: 5%;
min-width: 90%;
min-height: 20%;
font-size: 17px;
text-align: center;
align-items: center;
background-color: #161618;
font-weight: bold;
}

#nh
{
position: absolute;
top: 3%;
left: 0%;
width: 100%;
text-align: center;
font-size: 17px;
font-weight: bold;
}

#damagendiv
{
position: absolute;
top: 15%;
left: 10%;
width: 35%;
font-size: 14px;
}

#asndiv
{
position: absolute;
top: 15%;
left: 55%;
width: 35%;
font-size: 14px;
}

#hpndiv
{
position: absolute;
top: 29%;
left: 10%;
width: 35%;
font-size: 14px;
}

#defndiv
{
position: absolute;
top: 29%;
left: 55%;
width: 35%;
font-size: 14px;
}

#conndiv
{
position: absolute;
top: 43%;
left: 25%;
width: 50%;
font-size: 14px;
}

#ncheck
{
position: absolute;
top: 57%;
left: 25%;
width: 50%;
font-size: 14px;
}

#nrdiv
{
position: absolute;
top: 73%;
left: 5%;
min-width: 90%;
min-height: 20%;
font-size: 17px;
text-align: center;
align-items: center;
background-color: #161618;
font-weight: bold;
}

#lastdiv
{
position: absolute;
background-color: #161618;
top: 180%;
left: 5%;
width: 90%;
min-height: 6%;
}

#damagehqt
{
display: none;
}

#ashqt
{
display: none;
}

#hphqt
{
display: none;
}

#defhqt
{
display: none;
}

#damagent
{
display: none;
}

#asnt
{
display: none;
}

#hpnt
{
display: none;
}

#defnt
{
display: none;
}

}

@media only screen and (min-width: 1080px)
{

body
{
background-color: #161618;
}

#mainh
{
position: fixed;
top: 0;
left: 0;
width: 100%;
min-height: 8%;
font-size: 21px;
z-index: 10;
background-color: #000000;
box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
font-weight: bold;
color: white;
}

#ti
{
min-width: 10%;
height=50%;
position: absolute;
top: 25%;
float: right;
left: 85%;
background-color: #505050;
color: white;
padding: 8px 8px;
margin: 4px 0;
border: none;
}

#hqh
{
position: absolute;
top: 3%;
left: 0%;
width: 100%;
text-align: center;
font-size: 20px;
font-weight: bold;
}

#nh
{
position: absolute;
top: 3%;
left: 0%;
width: 100%;
text-align: center;
font-size: 20px;
font-weight: bold;
}

input[type=button]
{
width: 50%;
background-color: #505050;
color: white;
padding: 15px 15px;
margin: 4px 0;
border: none;
border-radius: 0px;
}

input[type=text]
{
width: 100%;
padding: 8px 8px;
margin: 8px 0;
display: inline-block;
border: 2px solid #505050;
border-radius: 4px;
box-sizing: border-box;
height: 1%;
background-color: #505050;
color: white;
}

select
{
width: 100%;
margin: 8px 0;
padding: 10px 10px;
border: 2px solid transparent;
border-radius: 4px;
box-sizing: border-box;
height: 2%;
background-color: #505050;
color: white;
}

input[type=text]:focus
{
border: 2px solid white;
}

input[type=text]:active
{
border: 2px solid white;
}

input[type=text]:hover
{
border: 2px solid white;
}

select:focus
{
border: 2px solid white;
}

select:active
{
border: 2px solid white;
}

select:hover
{
border: 2px solid white;
}

input[type=button]:focus
{
}

input[type=button]:active
{
}

input[type=button]:hover
{
}

.hqdiv
{
min-height: 20%;
background-color: #212124;
color: white;
position: absolute;
top: 8%;
left: 0px;
width: 50%;
min-height: 100%;
}

.normaldiv
{
position: absolute;
top: 8%;
left: 50%;
width: 50%;
min-height: 100%;
background-color: #212124;
color: white;
}

#damagendiv
{
position: absolute;
top: 15%;
left: 10%;
width: 35%;
}

#asndiv
{
position: absolute;
top: 15%;
left: 55%;
width: 35%;
}

#hpndiv
{
position: absolute;
top: 29%;
left: 10%;
width: 35%;
}

#defndiv
{
position: absolute;
top: 29%;
left: 55%;
width: 35%;
}

#conndiv
{
position: absolute;
top: 43%;
left: 25%;
width: 50%;
}

#ncheck
{
position: absolute;
top: 55%;
left: 25%;
width: 100%;
}

#conhqdiv
{
position: absolute;
top: 15%;
left: 10%;
width: 35%;
}

#exthqdiv
{
position: absolute;
top: 15%;
left: 55%;
width: 35%;
}

#damagehqdiv
{
position: absolute;
top: 28%;
left: 10%;
width: 35%;
}

#ashqdiv
{
position: absolute;
top: 28%;
left: 55%;
width: 35%;
}

#hphqdiv
{
position: absolute;
top: 42%;
left: 10%;
width: 35%;
}

#defhqdiv
{
position: absolute;
top: 42%;
left: 55%;
width: 35%;
}

#hqcheck
{
position: absolute;
top: 55%;
left: 25%;
width: 100%;
}

#hqrdiv
{
position: absolute;
top: 69%;
left: 5%;
min-width: 90%;
min-height: 17%;
font-size: 20px;
text-align: center;
align-items: center;
background-color: #161618;
font-weight: bold;
}

#nrdiv
{
position: absolute;
top: 69%;
left: 5%;
min-width: 90%;
min-height: 17%;
font-size: 20px;
text-align: center;
align-items: center;
background-color: #161618;
font-weight: bold;
}

#damagehqt
{
display: none;
}

#ashqt
{
display: none;
}

#hphqt
{
display: none;
}

#defhqt
{
display: none;
}

#damagent
{
display: none;
}

#asnt
{
display: none;
}

#hpnt
{
display: none;
}

#defnt
{
display: none;
}

}
